chinese:
  template: "*"
  order: 0
  settings:
    analysis:
      analyzer:
        ik_max_word:
          type: ik
          alias: [ik]
          use_smart: false
        ik_smart:
          type: ik
          use_smart: true